<% include ./partials/header %>
<div class="container">

  <h1>Event Management App</h1>
  <a href="/events"><button type="button" name="button">View All Events</button> </a>

</div>

<% include ./partials/footer %>
