<% include ./partials/header %>

<div class="container">
<h1>Login</h1>

<form class="" action='/login' method='post'>
  <br>
  <input type="text" name='username' placeholder='username'>
  <input type="password" name='password' placeholder='password'>
  <input type="submit" name="" value="submit" class="btn btn-primary">
</form>
</div>

<% include ./partials/footer %>
