<% include ./partials/header %>
<!-- <h2>Add new event:</h2>
<form class="" action="/events" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" value="">
  <br>
  <label for="date">Date:</label>
  <input type="text" name="date" value="">
  <br>
  <label for="organiser">Organiser:</label>
  <input type="text" name="organiser" value="">
  <br>
  <label for="category">Category:</label>
  <input type="text" name="category" value="">
  <br>
  <label for="description">Description:</label>
  <input type="text" name="description" value="">
  <br>
  <label for="ticket_price">Ticket Price:($)</label>
  <input type="text" name="ticket_price" value="">
  <br>
  <input type="submit" value="submit">
</form> -->

<div class="container">
  <br>
  <div class="card border-primary mb-3" style="max-width: 25rem;">
    <div class="card-header">Add new Event</div>
    <div class="card-body text-primary">
      <form class="" action="/events" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" value="">
        <br>
        <label for="date">Date:</label>
        <input type="text" name="date" value="">
        <br>
        <label for="organiser">Organiser:</label>
        <input type="text" name="organiser" value="">
        <br>
        <label for="category">Category:</label>
        <input type="text" name="category" value="">
        <br>
        <label for="description">Description:</label>
        <input type="text" name="description" value="">
        <br>
        <label for="ticket_price">Likes</label>
        <input type="text" name="ticket_price" value="">
        <br>
        <input type="submit" value="submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<% include ./partials/footer %>
